#login {
    display: flex;
    background-image: url('/public/photo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.login-container {
    border-radius: 10px;
    border: 1px solid;
    width: 350px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 205px auto;
}

.title {
    color: #0077cc;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
}

.error {
    color: red;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #0077cc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.login-form button {
    background: #0077cc;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.login-form button:Hover {
    background: #3f51b5;
}

.forgot-passwd {
    color: #0077cc;
    font-size: 12px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 15px;
}