#login {
    display: flex;
    min-height: 100%;
    width: 100%;
    background-image: url('/public/photo2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

/* Blur efekti için overlay */
#login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    background-attachment: fixed;
    filter: blur(8px); /* Blur miktarını buradan ayarlayabilirsiniz */
    z-index: 0;
}

/* Login container'ın blur'dan etkilenmemesi için */
.login-container {
    position: relative;
    z-index: 1;
    background: white; /* Arka planın görünmemesi için */
    border-radius: 10px;
    border: 1px solid;
    width: 350px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 205px auto;
}

.title {
    color: #cb8f0c;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
}

.error {
    color: red;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cb8f0c;;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.login-form button {
    background: #cb8f0c;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.login-form button:Hover {
    background: #eaa70a;;
}

.forgot-passwd {
    color: #cb8f0c;
    font-size: 12px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 15px;
}