#servicedetail-container {
    position: relative;
    display: flex;
    margin: 75px auto;
    font-family: 'Rubik', sans-serif;
}

#servicedetail-container .back-btn {
    top: 45px;
    padding-top: 30px;
    justify-content: center;
    position: absolute;
    border: none ;
    background: #fff;
    border-radius: 5px ;
    cursor: pointer ;
    color: gray;
    z-index: 1;
}

#servicedetail-details {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    padding: 10px;
    width: 100%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 10px solid #3f51b5;
}

#servicedetail-items-head {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 15px;
}

#servicedetail-items-head p {
    color: #3f51b5;
    font-weight: bold;
    font-size: 30px;
}

#servicedetail-items-head hr {
    margin: 0;
}

.btn-group {
    position: absolute;
    top: 10px;
    left: 58vh;
}

.btn-group button {
    background-color: #3f51b5;
    color: #fff;
    border: none;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-group button:hover {
    background-color: #1d39c4;
}

/*#servicedetail-students {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 13px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-top: 10px solid #3f51b5;
    height: 66vh;
    max-width: 50%;
}*/

#servicedetail-items-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

#servicedetail-items-body-content {
    padding-left: 22px;
    font-size: 16px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input[type="text"] {
    width: auto;
    padding: 5px 10px;
    margin: 3px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]:hover {
    border-color: #888;
}

input[type="text"]:focus {
    border-color: #5a67d8; 
    outline: none;
    box-shadow: 0 0 8px rgba(90, 103, 216, 0.6);
}

button.delete-btn {
    background-color: #e53e3e;
}

button.delete-btn:hover {
    background-color: #c53030;
}

@media (max-width: 992px) {
    #servicedetail-details, #servicedetail-students {
        width: 100%;
        max-height: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #servicedetail-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }

    #servicedetail-details .edit-btn {
        position: relative;
        bottom: 0;
        right: 0;
        align-self: center;
    }
}

@media (max-width: 768px) {
    input[type="text"], input[type="tel"] {
        width: 100%;
        font-size: 14px;
    }

    button {
        width: 100%;
        font-size: 14px;
        padding: 8px 16px;
    }
}
