#servicedetail-container {
    position: relative;
    display: flex;
    margin: 75px auto;
    font-family: 'Rubik', sans-serif;
    height: 640px;
}

.custom-back-btn {
    position: absolute !important;
    transform: scale(1.4);
    right: 60px !important;  /* Sağa almak için */
    top: 70px !important;
    padding: 8px 12px !important;
    background: transparent !important;
    border: none !important;
    cursor: pointer !important;
    color: gray !important;
    z-index: 10 !important;
    transition: all 0.3s ease !important;
}

.custom-back-btn:hover {
    color: #cb8f0c !important;
}

#servicedetail-details {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    padding: 10px;
    width: 100%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 10px solid #cb8f0c;
}

#servicedetail-items-head {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 15px;
}

#servicedetail-items-head p {
    color: #cb8f0c;
    font-weight: bold;
    font-size: 30px;
}

#servicedetail-items-head hr {
    margin: 0;
}

.btn-group {
    position: absolute;
    top: 10px;
    left: 67vh;
}

.btn-group button {
    background-color: #cb8f0c;
    color: #fff;
    border: none;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-group button:hover {
    background-color: #e6c20d;
}

#servicedetail-items-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

#servicedetail-items-body-content {
    padding-left: 22px;
    font-size: 16px;
}

.col-sm-9 {
    color: #888;
    padding: 0;
    margin-bottom: 5px;
    margin-top: -5px;
}

.warning {
    border: 1px solid transparent;
    cursor: default;
    color: gray;
    margin-left: 24px;
}

input[type="text"] {
    width: auto;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    margin-bottom: 3px;
}

input[type="text"]:hover {
    border-color: #888;
}

input[type="text"]:focus {
    border-color: #5a67d8; 
    outline: none;
    box-shadow: 0 0 8px rgba(90, 103, 216, 0.6);
}

button.delete-btn {
    background-color: #e53e3e;
}

button.delete-btn:hover {
    background-color: #c53030;
}

@media (max-width: 992px) {
    #servicedetail-details, #servicedetail-students {
        width: 100%;
        max-height: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #servicedetail-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }

    #servicedetail-details .edit-btn {
        position: relative;
        bottom: 0;
        right: 0;
        align-self: center;
    }

    .custom-back-btn {
        right: 50px !important;
        top: 70px !important;
        transform: scale(1.2);
    }
}

@media (max-width: 768px) {
    input[type="text"], input[type="tel"] {
        width: 100%;
        font-size: 14px;
    }

    button {
        width: 100%;
        font-size: 14px;
        padding: 8px 16px;
    }

    .custom-back-btn {
        right: -290px !important;
        top: 80px !important;
        transform: scale(1);
    }
}
