#viewlist-container {
    position: relative;
    display: flex;
    margin: 75px auto;
    font-family: 'Rubik', sans-serif;
}

#viewlist-items {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 40px auto;
    width: 100%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 10px solid #cb8f0c;
}

#viewlist-container #back-btn {
    top: 45px;
    padding-top: 30px;
    justify-content: center;
    position: absolute;
    border: none ;
    background: #fff;
    border-radius: 5px ;
    cursor: pointer ;
    color: gray;
    z-index: 1;
}

#viewlist-items-head {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 15px;
}

#viewlist-items-head p {
    color: #cb8f0c;
    font-weight: bold;
    font-size: 30px;
}

#viewlist-items-head hr {
    margin: 0;
}

#viewlist-items-body-content {
    margin: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: 10fr 5fr;
    font-size: 20px;
    grid-gap: 123vh;
    border: 1px solid transparent;
    cursor: default;
}

#viewlist-items-body {
    border: 1px solid transparent;
    cursor: default;
    color: gray;
    margin-left: 20px;
}

#viewlist-items-body-content:hover {
    border-radius: 15px;
    border: 1px solid #cbb80c;
}

#viewlist-items-body-content button.delete-btn {
    color: #e53e3e;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #fff;
    border: none;
}

#viewlist-items-body-content button.delete-btn:hover {
    color: #851f1f;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 35%;
}

.popup-content button {
    margin: 30px;
    width: 35%;
}

.yes-btn {
    background-color: #e53e3e;
}

.no-btn {
    background-color: grey;
}

@media (max-width: 992px) {
    #viewlist-items {
        width: 70vh;
        height: 70vh;
    }

    #viewlist-items-head p {
        font-size: 22px;
    }

    #viewlist-items-body-content {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    #viewlist-items {
        width: 60vh;
        height: 65vh;
    }

    #viewlist-items-head p {
        font-size: 20px;
    }

    #viewlist-items-body-content {
        font-size: 14px;
        
    }
}

@media (max-width: 576px) {
    #viewlist-items {
        width: 50vh;
        height: 60vh;
    }

    #viewlist-items-head p {
        font-size: 18px;
    }

    #viewlist-items-body-content {
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    #viewlist-items {
        width: 40vh;
        height: 55vh;
    }

    #viewlist-items-head p {
        font-size: 16px;
    }

    #viewlist-items-body-content {
        font-size: 12px;
    }
}