#navbar {
  height: 80px;
  align-items: center;
  justify-content: center;
  background-color: #3f51b5;
}

.logo {
  font-size: 28px;
  color: #f5f5f5;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  margin: auto;
  margin-left: -80px;
}

#navbar hr {
  border: 1px #ffffff solid;
  margin: 0;
  margin-left: -80px;
  width: 180px;
}

#navbar button {
  color: #f5f5f5;
  border: none;
}

#navbar button:active {
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

#navbar .id-no {
  color: #f5f5f5;
  padding-right: 20px;
  padding-top: 18px;
}

#sign-out-btn {
  padding-bottom: 4px;
}

#sign-out-btn button {
  background-color: #f5f5f5;
}

#sign-out-btn i {
  color: #3f51b5;
}

#sign-out-btn button:hover {
  background-color: #fff  ;
}

.login-navbar .collapse,
.login-navbar .id-no,
.login-navbar #sign-out-btn {
  display: none;
}

@media (max-width: 768px) {
  #navbar .id-no {
    display: none;
  }
}