@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

#add-service-container {
    font-family: 'Poppins', sans-serif;
    position: relative;
    align-items: center;
    align-content: center;
    margin: auto;
}

#back-btn {
    position: absolute;
    top: 100px;
    left: 155vh;
    border: none ;
    background: none;
    border-radius: 5px ;
    cursor: pointer ;
    font-size: 22px ;
    color: gray;
}

#add-service-container h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

#add-service-container form {
    margin: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
    padding: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 10px solid #cb8f0c;
}

#add-service-container form .title {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

#add-service-container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#add-service-container form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

#add-service-container .input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

#add-service-container .input-field input,
#add-service-container .input-field select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

#add-service-container .input-field input:focus,
#add-service-container .input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

#add-service-container .input-field select {
    color: #707070;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    margin: auto;
    border-radius: 5px;
    background-color: #cb8f0c;
    transition: all 0.3s linear;
    cursor: pointer;
}

.button-container .btnText {
    font-size: 14px;
    font-weight: 400;
}

.button-container button:hover {
    background-color: #eed51b;
}

.button-container button i {
    margin: 0 6px;
}

#add-service-container .password-display {
    text-align: left;
    border: none;
    font-size: 16px;
    bottom: 100px;
    left: 80px;
}

@media (max-width: 750px) {
    #add-service-container form {
        overflow-y: scroll;
    }

    #add-service-container form::-webkit-scrollbar {
        display: none;
    }

    #add-service-container form .fields .input-field {
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    #add-service-container form .fields .input-field {
        width: 100%; 
    }
}