@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.add-service {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-service-container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 100px 15px 15px; 
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#add-service-container header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

#add-service-container header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #1d39c4;
}

#add-service-container form {
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}

#add-service-container form .form {
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

#add-service-container form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

#add-service-container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

#add-service-container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#add-service-container form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

#add-service-container .input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

#add-service-container .input-field input,
#add-service-container .input-field select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

#add-service-container .input-field input:focus,
#add-service-container .input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

#add-service-container .input-field select {
    color: #707070;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    margin: auto;
    border-radius: 5px;
    background-color: #1d39c4;
    transition: all 0.3s linear;
    cursor: pointer;
}

.button-container .btnText {
    font-size: 14px;
    font-weight: 400;
}

.button-container button:hover {
    background-color: #265df2;
}

.button-container button i {
    margin: 0 6px;
}

@media (max-width: 750px) {
    #add-service-container form {
        overflow-y: scroll;
    }

    #add-service-container form::-webkit-scrollbar {
        display: none;
    }

    #add-service-container form .fields .input-field {
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    #add-service-container form .fields .input-field {
        width: 100%; /* 1 field per row on small screens */
    }
}